Repository tokern/data-lineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: pipenv run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

fix: Install with editable dependency option
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  setup.py
Due: isort, black

chore: Enable pre-commit and pre-push checks
  .circleci/config.yml
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  data_lineage/data_lineage.py
  data_lineage/graph/graph.py
  data_lineage/parser/node.py
  data_lineage/parser/visitor.py
  data_lineage/visitors/dml_visitor.py
  requirements.txt
  setup.py
  test/__init__.py
  test/test_data_lineage.py
  test/test_dml_visitor.py
Due: isort, black, flake8

fix: fix coverage generation. clean up pytest configuration
  .circleci/config.yml
  pytest.ini
  requirements.txt
  setup.cfg
Due: none

first cut in adding a dash server
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  setup.py
Due: isort, black, flake8

add config, click, fix pre-commit tests
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  data_lineage/catalog/sources.py
  data_lineage/data_lineage.py
  data_lineage/parser/node.py
  data_lineage/parser/parser.py
  data_lineage/server.py
  data_lineage/visitors/table_visitor.py
  pytest.ini
  test/queries.json
  test/test_data_lineage.py
  test/test_dml_visitor.py
Due: isort, black, flake8

remove mypy annotations
  data_lineage/__main__.py
  data_lineage/data_lineage.py
  data_lineage/parser/node.py
  data_lineage/parser/parser.py
  data_lineage/visitors/table_visitor.py
  test/test_dml_visitor.py
Due: isort, black, flake8

remove whitespace diffs
  .pre-commit-config.yaml
  pytest.ini
Due: none

change title and favicon.
  data_lineage/assets/favicon.ico
  data_lineage/server.py
  setup.py
Due: isort, black, flake8

fix packaging issues
  MANIFEST.in
  Pipfile
  Pipfile.lock
  setup.py
Due: isort, black

feature: data-lineage as a plotly dash server
  .pre-commit-config.yaml
  MANIFEST.in
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  data_lineage/assets/favicon.ico
  data_lineage/catalog/sources.py
  data_lineage/data_lineage.py
  data_lineage/server.py
  setup.py
  test/queries.json
  test/test_data_lineage.py
Due: isort, black, flake8

chore: Prepare release 0.3.0
  data_lineage/__init__.py
Due: isort, black, flake8

Basic test for catalog
  data_lineage/catalog/catalog.py
  data_lineage/catalog/query.py
  data_lineage/catalog/sources.py
  data_lineage/data_lineage.py
  data_lineage/log_mixin.py
  data_lineage/parser/sql_nodes.py
  test/catalog.json
  test/test_catalog.py
  test/test_data_lineage.py
Due: isort, black, flake8

A working columnar data lineage
  .idea/data-lineage.iml
  data_lineage/__main__.py
  data_lineage/catalog/catalog.py
  data_lineage/data_lineage.py
  data_lineage/graph/graph.py
  data_lineage/parser/visitor.py
  data_lineage/server.py
  data_lineage/visitors/column_ref_visitor.py
  data_lineage/visitors/dml_visitor.py
  data_lineage/visitors/range_var_visitor.py
  data_lineage/visitors/table_visitor.py
  test/queries.json
  test/test_data_lineage.py
  test/test_dml_visitor.py
  test/test_graph.py
Due: isort, black, flake8

fix tests
  data_lineage/catalog/catalog.py
  data_lineage/visitors/dml_visitor.py
  test/test_catalog.py
  test/test_data_lineage.py
  test/test_dml_visitor.py
  test/test_graph.py
Due: isort, black, flake8

Improve positioning of nodes in graph
  data_lineage/graph/graph.py
  data_lineage/parser/sql_nodes.py
  test/test_graph.py
Due: isort, black, flake8

Fix tests
  test/test_graph.py
Due: isort, black, flake8

Remove references to oid
  data_lineage/catalog/catalog.py
Due: isort, black, flake8

feature: Add column level data lineage
  .idea/data-lineage.iml
  data_lineage/__main__.py
  data_lineage/catalog/catalog.py
  data_lineage/catalog/query.py
  data_lineage/catalog/sources.py
  data_lineage/data_lineage.py
  data_lineage/graph/graph.py
  data_lineage/log_mixin.py
  data_lineage/parser/visitor.py
  data_lineage/server.py
  data_lineage/visitors/column_ref_visitor.py
  data_lineage/visitors/dml_visitor.py
  data_lineage/visitors/range_var_visitor.py
  data_lineage/visitors/table_visitor.py
  test/catalog.json
  test/queries.json
  test/test_catalog.py
  test/test_data_lineage.py
  test/test_dml_visitor.py
  test/test_graph.py
Due: isort, black, flake8

chore: Remove sql nodes code that was unused
  data_lineage/parser/sql_nodes.py
Due: isort, black, flake8

fix: Fix and enable logging
  data_lineage/__main__.py
  data_lineage/parser/visitor.py
  data_lineage/server.py
Due: isort, black, flake8

Fix typo in example.ipynb
  example.ipynb
Due: none

fix: Typo in example.ipynb
  example.ipynb
Due: none

chore: Add mypy. Ignore errors for now
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  data_lineage/data_lineage.py
  data_lineage/parser/node.py
  data_lineage/parser/parser.py
  data_lineage/parser/visitor.py
  data_lineage/visitors/column_ref_visitor.py
  data_lineage/visitors/dml_visitor.py
  data_lineage/visitors/range_var_visitor.py
  data_lineage/visitors/table_visitor.py
  setup.cfg
  test/test_data_lineage.py
  test/test_dml_visitor.py
  test/test_graph.py
Due: isort, black, flake8

checkpoint db catalog
  Pipfile
  Pipfile.lock
  data_lineage/graph/graph.py
  data_lineage/graph/orm.py
  data_lineage/parser/visitor.py
  data_lineage/visitors/dml_visitor.py
  data_lineage/visitors/range_var_visitor.py
  setup.py
  test/catalog.json
  test/conftest.py
  test/test_db_graph.py
Due: isort, black, flake8

Refactor and remove parsing and setup code
  data_lineage/__main__.py
  data_lineage/catalog.py
  data_lineage/catalog/__init__.py
  data_lineage/catalog/catalog.py
  data_lineage/catalog/query.py
  data_lineage/catalog/sources.py
  data_lineage/data_lineage.py
  data_lineage/graph.py
  data_lineage/graph/__init__.py
  test/conftest.py
  test/test_catalog.py
  test/test_data_lineage.py
  test/test_db_graph.py
  test/test_graph.py
Due: isort, black, flake8

Refactor and consolidate parser code
  data_lineage/data_lineage.py
  data_lineage/parser/__init__.py
  data_lineage/parser/dml_visitor.py
  data_lineage/parser/parser.py
  data_lineage/parser/table_visitor.py
  data_lineage/visitors/__init__.py
  data_lineage/visitors/column_ref_visitor.py
  data_lineage/visitors/table_visitor.py
  test/conftest.py
  test/test_db_graph.py
  test/test_dml_visitor.py
Due: isort, black, flake8

Fix mypy issues
  data_lineage/__main__.py
  data_lineage/data_lineage.py
  data_lineage/parser/__init__.py
  data_lineage/parser/dml_visitor.py
  data_lineage/parser/node.py
  data_lineage/parser/table_visitor.py
  data_lineage/parser/visitor.py
  test/conftest.py
  test/test_data_lineage.py
  test/test_db_graph.py
  test/test_dml_visitor.py
Due: isort, black, flake8

Setup databases for test
  .circleci/config.yml
Due: none

feature: use a data catalog generated by dbcat for binding table objects
  .circleci/config.yml
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  data_lineage/catalog.py
  data_lineage/catalog/__init__.py
  data_lineage/catalog/catalog.py
  data_lineage/catalog/query.py
  data_lineage/catalog/sources.py
  data_lineage/data_lineage.py
  data_lineage/graph.py
  data_lineage/graph/__init__.py
  data_lineage/parser/__init__.py
  data_lineage/parser/dml_visitor.py
  data_lineage/parser/node.py
  data_lineage/parser/parser.py
  data_lineage/parser/table_visitor.py
  data_lineage/parser/visitor.py
  data_lineage/visitors/__init__.py
  data_lineage/visitors/column_ref_visitor.py
  data_lineage/visitors/range_var_visitor.py
  data_lineage/visitors/table_visitor.py
  setup.cfg
  setup.py
  test/catalog.json
  test/conftest.py
  test/test_catalog.py
  test/test_data_lineage.py
  test/test_db_graph.py
  test/test_dml_visitor.py
  test/test_graph.py
Due: isort, black, flake8

chore: Update dependencies to pick security fixes
  Pipfile
  Pipfile.lock
  setup.py
Due: isort, black

chore: Run jupyter notebooks in dev mode
  Pipfile
  Pipfile.lock
Due: none

feature: Add API to load a catalog, define edges and load a graph
  api_example.ipynb
  data_lineage/__init__.py
  data_lineage/catalog.py
  data_lineage/data_lineage.py
  data_lineage/graph.py
  data_lineage/parser/dml_visitor.py
  example.ipynb
  test/conftest.py
Due: isort, black, flake8

feature: Rewrite API for query parser pack.
  Pipfile
  Pipfile.lock
  api_example.ipynb
  data_lineage/data_lineage.py
  data_lineage/graph.py
  data_lineage/parser/__init__.py
  example.ipynb
  setup.py
  test/conftest.py
  test/test_data_lineage.py
  test/test_db_graph.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
