Repository tokern/data-lineage: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: pipenv run isort
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: pipenv run black
        types: [python]

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: pipenv run mypy
        types: [python]
        pass_filenames: false

 
      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: pipenv run flake8
        types: [python]
        exclude: setup.py

feature: Rewrite API for query parser pack.
  Pipfile
  Pipfile.lock
  api_example.ipynb
  data_lineage/data_lineage.py
  data_lineage/graph.py
  data_lineage/parser/__init__.py
  example.ipynb
  setup.py
  test/conftest.py
  test/test_data_lineage.py
  test/test_db_graph.py
Due: isort, black, mypy, flake8

fix: Reformat API and dependency on dbcat
  data_lineage/__init__.py
  data_lineage/__main__.py
  data_lineage/catalog.py
  data_lineage/data_lineage.py
  data_lineage/graph.py
  data_lineage/parser/__init__.py
  data_lineage/parser/dml_visitor.py
  data_lineage/parser/node.py
  test/catalog.json
  test/conftest.py
  test/test_data_lineage.py
  test/test_db_graph.py
  test/test_dml_visitor.py
Due: isort, black, mypy, flake8

fix: Update dbcat usage for v0.4.0
  data_lineage/parser/__init__.py
  test/conftest.py
  test/test_db_graph.py
Due: isort, black, mypy, flake8

chore: Update dbcat to v0.4.0
  Pipfile
  Pipfile.lock
Due: none

fix: Use postgresql dialect with sqlalchemy
  test/conftest.py
Due: isort, black, mypy, flake8

chore: Ensure dbcat>=0.4.0 is used
  Pipfile
  Pipfile.lock
  setup.py
Due: isort, black, mypy

fix: Fix example notebooks to use latest apis
  api_example.ipynb
  example.ipynb
Due: none

chore: Fix dependency cache to improve test run time
  .circleci/config.yml
Due: none

feature: Add an API server to work with data lineage visualization
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  data_lineage/graph.py
  data_lineage/log_mixin.py
  data_lineage/parser/__init__.py
  data_lineage/parser/visitor.py
  data_lineage/server.py
  setup.py
  test/conftest.py
  test/queries.json
Due: isort, black, mypy, flake8

feature: Setup Docker & docker compose files for a demo setup
  Dockerfile
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  data_lineage/server.py
  install-manifests/docker-compose-demodb/docker-compose.yml
  install-manifests/dockerfiles/Dockerfile-demodb
  install-manifests/dockerfiles/Makefile
  install-manifests/dockerfiles/demo-data.sql
  setup.py
Due: isort, black, mypy, flake8

chore: Prepare release 0.4.0
  data_lineage/__init__.py
Due: isort, black, mypy, flake8

chore: Prepare release 0.5.0
  data_lineage/__init__.py
Due: isort, black, mypy, flake8

fix: Fix container for deploy. Prepare 0.5.1
  .circleci/config.yml
  data_lineage/__init__.py
Due: isort, black, mypy, flake8

fix: Catch parse exceptions and warn instead of exiting
  data_lineage/parser/__init__.py
  test/test_dml_visitor.py
Due: isort, black, mypy, flake8

fix: Fix golang release scripts. Prepare 0.5.2
  .circleci/config.yml
  data_lineage/__init__.py
Due: isort, black, mypy, flake8

feature: Build docker images on release
  .circleci/config.yml
  build_image.sh
Due: none

chore: Prepare 0.6.0
  data_lineage/__init__.py
Due: isort, black, mypy, flake8

chore: Update README to reflect latest instructions
  README.md
Due: none

More syntax changes
  README.md
Due: none

Add gif of UI demo
  README.md
Due: none

Try 2
  README.md
Due: none

chore: Update README with information on the app and installation
  README.md
Due: none

chore: Pin flask version to ~1.1
  Pipfile
  Pipfile.lock
  pyproject.toml
  setup.py
Due: isort, black, mypy

feature: Expose data lineage models through a REST API
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  data_lineage/data_lineage.py
  data_lineage/server.py
  test/catalog.json
  test/conftest.py
  test/test_server.py
Due: isort, black, mypy, flake8

feature: Expose data lineage models through a REST API
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  data_lineage/data_lineage.py
  data_lineage/server.py
  install-manifests/dockerfiles/demo-data.sql
  test/catalog.json
  test/conftest.py
  test/test_server.py
Due: isort, black, mypy, flake8

fix: Remove /api/[node|main]. Build remaining APIs using flask_restful
  Pipfile
  Pipfile.lock
  data_lineage/__main__.py
  data_lineage/data_lineage.py
  data_lineage/graph.py
  data_lineage/parser/__init__.py
  data_lineage/parser/dml_visitor.py
  data_lineage/parser/visitor.py
  data_lineage/server.py
  install-manifests/dockerfiles/demo-data.sql
  test/test_server.py
Due: isort, black, mypy, flake8
